In [8]:
pip install bitarray

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bitarray in /usr/local/lib/python3.10/dist-packages (2.7.3)

In [38]:
import math
import numpy as np
from bitarray import bitarray

Convert characters to numbers

In [39]:
def string_to_num(s):
    return [ord(c) for c in s]

Implementation of the first hash function

In [40]:
def hashI(p, C, M):

  l = len(C)
  
  multiply = 1
  for x in C:
        multiply = multiply * x
  sum=0
  for x in C:
        sum = sum + x

  x =  (min(C) + multiply *p + (sum*pow(p,math.floor(l/2))) + max(C) * pow(p,(l-1)))% M

  return x

Implementation of the secound hash function

In [41]:
def hashII(p, C, M):
    l = len(C)
    return sum(ci * p**i for i, ci in enumerate(C)) % M

In [42]:
class BloomFilter:
    def __init__(self, size, hash_functions):
        self.size = size
        self.hash_functions = hash_functions
        self.bit_array = bitarray(size)
        self.bit_array.setall(0)

    def add(self, s):
        for hash_func in self.hash_functions:
            index = hash_func(s) % self.size
            self.bit_array[index] = 1

    def lookup(self, s):
        for hash_func in self.hash_functions:
            index = hash_func(s) % self.size
            if self.bit_array[index] == 0:
                return False
        return True

In [43]:
from google.colab import drive
import pandas as pd        

drive.mount('/content/drive')

path = "/content/drive/My Drive/user_dataset.csv"
user_dataset = pd.read_csv(path)
user_dataset

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                   UserNames
0              anonquestion5
1                      Lyulf
2                   cniblock
3       dontwantthisaccounts
4                StanSheeran
...                      ...
999995               fgf6100
999996               J_D2000
999997     ThrowawayAAApeD95
999998               abir102
999999                Haunt_

[1000000 rows x 1 columns]

In [44]:
p_values = [17, 31, 47, 61]
M = 5000000

ب)

In [45]:
hash_functions_I = [lambda s, p=p: hashI(p, string_to_num(s), M) for p in p_values]
bloom_filter_I = BloomFilter(M, hash_functions_I)

for user_name in user_dataset.UserNames:
     bloom_filter_I.add(user_name)

In [46]:
import csv

path2 = "/content/drive/My Drive/user_requests.csv"
user_requests = csv.reader(open(path2));

user_requests

د)

In [47]:
def calculate_false_positive(user_requests, bloom_filter):
    tp = 0
    tn = 0
    fp = 0
    fn = 0

    for row in user_requests:
        username = row[0]
        exists = (row[1] =='1')
        predict =  bloom_filter.lookup(username)

        if predict and exists:
           tp += 1
        elif (not predict) and (not exists):
           tn += 1
        elif predict and (not exists):
           fp += 1
        elif (not predict) and exists:
           fn += 1


    print("TP:{}, TN:{}, FP:{}, FN:{}".format(tp, tn, fp, fn))
    print("false positive rate of hash type:{}".format(fp / (fp + tn)))

In [48]:
calculate_false_positive(user_requests, bloom_filter_I)

TP:2128, TN:41719, FP:6154, FN:0
false positive rate of hash type:0.12854845111022914

Use hash_function_II

In [49]:
user_dataset = pd.read_csv(path)

ج)

In [50]:
hash_functions_II = [lambda s, p=p: hashII(p, string_to_num(s), M) for p in p_values]
bloom_filter_II = BloomFilter(M, hash_functions_II)

In [51]:
for user_name in user_dataset.UserNames:
     bloom_filter_II.add(user_name)

ه)

In [37]:
user_requests = csv.reader(open(path2));

calculate_false_positive(user_requests, bloom_filter_II)

TP:2128, TN:43501, FP:4372, FN:0
false positive rate of hash type:0.09132496396716312